body {
  background: rgb(242, 242, 242);
  font-family: 'Roboto Slab', serif;
}

div{
  position: relative;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

.App {
  text-align: center;
}

.App-container{
  height: 90vh;
  width: 90%;
  border-radius: 10px;
  background: white;
  margin: 2em auto 2em;
}

.App-logo {
  animation: App-logo-spin 1s linear;
  animation-duration: 7s;
  width: 70%;
  padding-top: 10%;
}

.App-sidebar {
  background-color: rgb(0, 182, 36);
  width: 7%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.App-title {
  position: fixed;
  top: 8%;
  left: 15%;
  font-size: 1.5rem;
}

.App-pic {
  position: fixed;
  top: 17%;
  left: 13%;
  width: 11.3%;
  height: 24.7%;
  background: url("person.png");
}

.App-desc {
  position: fixed;
  top: 17%;
  left: 24.7%;
  width: 19%;
  text-align: center;
  line-height: 2em;
}

#name {
  font-size: 2.4rem;
}

.App-input {
  resize: none;
  position: fixed;
  top: 50%;
  left: 13%;
  width: 30%;
  height: 40%;
  background-color: rgba(128,128,128, .2);
  border-radius: 10px;
}

.App-personal {
  position: fixed;
  top: 50%;
  left: 70%;
  width: 30%;
  height: 40%;
  background-color: rgba(128,128,128, .2);
  border-radius: 10px;
}

@keyframes App-logo-spin {
    0%{ transform: scale(1,1); }
    50% { transform: scale(-1,1); }
    100% { transform: scale(1,1); }

  /*from { transform: rotate(0deg); }
  to { transform-origin: rotate(360deg); }*/
}

.btn-sm {
  position: fixed;
  top: 20%;
  left: 50%;
}

.App-calls {
  position: fixed;
  top: 6%;
  left: 73%;
  width: 20%;
  height: 27%;
  background-color: rgba(128,128,128, .2);
  border-radius: 10px;
}

.App-transactions {
  position: fixed;
  top: 35%;
  left: 73%;
  width: 20%;
  height: 27%;
  background-color: rgba(128,128,128, .2);
  border-radius: 10px;
}

.App-personal {
  position: fixed;
  top: 64%;
  left: 73%;
  width: 20%;
  height: 27%;
  background-color: rgba(128,128,128, .2);
  border-radius: 10px;
}

.App-social {
  position: fixed;
  top: 50%;
  left: 46%;
  width: 25%;
  height: 40%;
  background-color: rgba(128,128,128, .2);
  border-radius: 10px;
}

.App-balance{
  position: fixed;
  top: 12%;
  left: 45%;
  width: 25%;
  height: 40%;
  font-size: 4em;
  font-family: 'Lobster Two', cursive;
}

p {
  padding-top: 10px;
}

#gender{
  text-transform: uppercase;
}

textarea{
  width: 90%;
  max-height: 80%;
  font-size: 1em;
}

.fa-arrow-right{
  position: fixed;
  top: 68%;
  left: 41%;
}

#balance{
  position: fixed;
  left: 47%;
  top: 9%;
  font-size: 1.5rem;
}

.fa-angle-double-right{
  position: fixed;
  left: 91%;
}

p{
  padding-top: 5%;
}