body {
  background: rgb(242, 242, 242);
  font-family: 'Roboto Slab', serif;
}

div{
  position: relative;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.App {
  text-align: center;
}

.App-container{
  height: 90vh;
  width: 90%;
  border-radius: 10px;
  background: white;
  margin: 2em auto 2em;
}

.App-logo {
  animation: App-logo-spin 1s linear;
  animation-duration: 7s;
  width: 70%;
  padding-top: 10%;
}

.App-sidebar {
  background-color: rgb(0, 182, 36);
  width: 7%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.App-title {
  position: fixed;
  top: 8%;
  left: 15%;
  font-size: 1.5em;
}

.App-pic {
  position: fixed;
  top: 17%;
  left: 13%;
  width: 150px;
  height: 150px;
  background-color: grey;
}

.App-desc {
  position: fixed;
  top: 17%;
  left: 24.7%;
  width: 19%;
  text-align: center;
  line-height: 30px;
}

#name {
  font-size: 1.5em;
}

.App-input {
  position: fixed;
  top: 50%;
  left: 13%;
  width: 30%;
  height: 40%;
  background-color: grey;
  opacity: .2;
  border-radius: 10px;
}

@keyframes App-logo-spin {
    0%{ transform: scale(1,1); }
    50% { transform: scale(-1,1); }
    100% { transform: scale(1,1); }

  /*from { transform: rotate(0deg); }
  to { transform-origin: rotate(360deg); }*/
}

.btn-sm {
  position: fixed;
  top: 20%;
  left: 50%;
}

.App-calls {
  position: fixed;
  top: 8%;
  left: 45%;
  width: 25%;
  height: 40%;
  background-color: grey;
  opacity: .2;
  border-radius: 10px;
}

.App-specs {
  position: fixed;
  top: 8%;
  left: 71%;
  width: 23%;
  height: 40%;
  background-color: grey;
  opacity: .2;
  border-radius: 10px;
}

.text {
  color: black;
  opacity: 1;
}